<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:label="M-edit"
        android:icon="@drawable/icon"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".bridge.WebViewActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- الأنشطة الأخرى تبقى كما هي (احتياط) -->
        <activity android:name=".SplashActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".ui.projects.ProjectsActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".ui.editor.EditorActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".ui.export.ExportSettingsActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".ui.export.ExportActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".MainActivity" android:theme="@style/AppTheme"/>
    </application>
</manifest>
